---
---
<header class="site-header">
  <div class="container header-inner">
    <div class="brand">Sajid Ahmed</div>
    <nav class="nav">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/about">About</a>
      <a class="nav-link" href="/projects">Projects</a>
    </nav>
  </div>
</header>
